@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Raleway:wght@300&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
}
body {
  background: rgb(216, 243, 228);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(12, 11, 11, 0.911);
  -webkit-font-smoothing: antialiased;
  margin: 0;
  text-transform: capitalize;
  line-height: 1.6;
  overflow-x: hidden;

  height: 100vh;
}



.container-main {
  width: 100%;
  height: 100%;

  /* overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; */
}
ul {
  list-style: none;
}
li {
  display: inline;
}

a {
  text-decoration: none;
   color:black;
  padding: 0;
  margin: 0;
}

.green-text {
  color: seagreen;
}

.container {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
}

.border-bottom {
  padding: 0.1em;
  background: seagreen;
  border-radius: 1em;
  text-align: center;
  padding-left: 5em;
}

.hide {
  display: none;
  animation-name: sign-rotate;
  animation-fill-mode: forwards;
  animation-duration: 1000s;


}

@keyframes sign-rotate{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(180deg);}
}
.show {
  display: block;
}


/* Cursor */

.txt-type > .txt {
  border-right : 0.1rem solid seagreen;
  color: black;
}

/* --------Main header------------------- */

#main-header {

  display: flex;
  margin: 0;
  padding: 10px;
  margin-top: 0;
  width: 100%;
  height: 80px;
  background: seagreen;
  opacity: 0.8;
  scroll-snap-align: center;

}

#main-header a{
  color: white;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;;
}
#main-header ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: flex-end;
  padding: 0em 1em;
  color: white;
}
#main-header li {
  margin: 0;
  margin-top: 0;
  padding: 1rem;
  color: white;
}

#main-header a:hover {
 color: darkseagreen;
  cursor: pointer;

}

.resume{
  border-bottom: 2px darkseagreen solid;
  border-radius: 2px;
  font-size: 1.1em;
  text-transform: uppercase;

}

/* -----------------Show case --------------------*/

#showcase {
  width: 100%;
  min-height: 90vh;
  background: seagreen;
  opacity: 0.8;
  color: white;
  overflow: hidden;
  line-height: 0.1;
  scroll-snap-align: center;

}
.showcase-content{
  margin-top: 70px;
  margin-left: 10em;

}
.showcase-content p{
  font-size: 1em;
  text-transform: initial;
  animation-name: paragraph;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
}
@keyframes paragraph{
  0%{top: -50px;}
  100%{top: 25px;}
}
.showcase-content h1{
  font-size: 5em;
  animation-name: h1;
  animation-duration:3s;
  animation-fill-mode: forwards;
  position: relative;
  opacity: 0;
  padding: 6px;

}

@keyframes h1{
  0%{opacity: 0;}
  100%{opacity: 1;}
}


#showcase .container {
  width: 80%;

  box-sizing: border-box;
  text-align: center;
}

.showcase-content h3 {
  text-transform: uppercase;
  font-size: 2.8em;
  color: darkseagreen;
  opacity: 1;
  animation-name: h3;
  animation-duration:3s;
  animation-delay: 0.6s;

  animation-fill-mode: forwards;
  position: relative;
  opacity: 0;

}
@keyframes h3{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

/*------- Contact-------------------- */

.contact{

display: flex;
flex-direction: column;
position: fixed;
/* top: 300px; */
left: 0px;
bottom: 0px;
opacity: 0;
animation-name: contact;
animation-duration: 1s;
animation-delay: 1s;
animation-fill-mode: forwards;

}
@keyframes contact{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.contact li{
  display: list-item;


}
.side-line{

  height: 300px;
  margin-left: 55px;
  border-left: 2px solid darkseagreen;
  opacity: 1;

}

/*----------- About me ---------------*/

#about-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4em;
  padding: 1em;
  min-height: 70vh;
  scroll-snap-align: center;

}



#about-me img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: seagreen 2px solid;
  position: relative;
  object-position: 20% -9px;
  border-radius: 50%;
}

.skills-list{
  text-align: justify;
  text-transform: initial;
  font-weight: 400;
}
.skills-list li{
  font-size: 1em;
  display: list-item;
  text-align: justify;
  list-style-type: disc;

}

#about-me h3 {
  font-size: 1em;
  text-align: left;
  text-transform: initial;
  margin-left: 143px;

}

#about-me h2 {
  text-transform: uppercase;
  color: rgba(12, 11, 11, 0.911);
}


/*--------- Projects Tab -----------------*/

.tab {
  overflow: hidden;

  text-align: center;
  display: flex;

  flex-direction: row;
  align-items: left;
  justify-content: left;
  margin-left: 6em;


}



.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  border-left: red 2px solid;
  font-weight: bold;
  opacity: 0.7;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 1.1em;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

.tab #html-css{
  margin-left: 11em;
}
.tab #js{
  margin-left: 9em;
}
.tab button:hover {
  color: black;
  opacity: 1;

}


.tab button.active {
  background-color: #ccc;
}





/*------------ Work Done------------------ */




 #work-done {
  min-height: 60vh;
  text-align: center;
  padding: 1em;
  scroll-snap-align: center;
}


#work-done h1{
  text-align: left;
  margin-left: 5em;
  text-transform: initial;

}


#work-done h2 {
  margin-left: 25em;
}

/* HTML Projects  */

#work-done .projects {
  /* display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(2,1fr);
  grid-row-gap: 1em; */
  max-width: 100%;
  margin: 3em 3em;
  position: relative;
  text-transform: initial;

  padding: 1em;
  min-height: 59vh;
}

#work-done .projects img{
  width: 250px;
  border: 1px seagreen solid;
  position: relative;
  color:darkseagreen;
}
.singer-img h1{
  text-align: left;

}

.pig-text{



  text-align: justify;
  float: left;
  margin-left: 2em;

}

#work-done .projects img:hover{
  opacity: 0.8;
  background-color: lightgrey;
  border-color: darkseagreen;
}





.project-coming-soon:hover {
  opacity: 0.7;
  background: rgb(175, 213, 228);
}
.singer-website {
  background: url('img/netflix1.jpg') center/cover no-repeat;
  color: white;
  font-weight: bold;
  background-position: 50% 50%;
}
.singer-website:hover {
  opacity: 0.7;
}

.sample-landing-page {
  background: url('img/samplelandingpage.jpg') center/cover no-repeat;
  font-weight: bold;

  background-position: 50% 50%;
}
.sample-landing-page:hover {
  opacity: 0.7;
}

/* --------------Blog Section---------------*/

#blog {
  min-height: 55vh;
  padding: 2rem;
  text-align: center;
  margin-top: 3em;
  scroll-snap-align: center;
}
#blog h1{
  text-align: center;
  margin-left: 5em;
  text-transform: initial;
  font-size: 2em;
}
#blog .container {
  width: 93%;
  align-items: center;
  margin-left: 50px;
}
#blog .blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  grid-row-gap: 14px;
  text-align: center;
  align-items: center;
}
#blog .blogs img {
  display: inline-block;
  cursor: pointer;
  margin-right: 1rem;
  outline: none;
  margin-left: 3em;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blogs img:hover {
  opacity: 0.8;
}

.blogs p {
  text-align: justify;
  font-weight: bold;
  display: block;
}
#blog img {
  width: 100%;
  height: auto;
}

.caption {
  font-weight: bold;
  display: block;
  text-align: center;
}
/* ---------------Blog Page---------------- */

.article-formatting {
  text-align: center;
  text-transform: initial;
  min-height: 60vh;
  padding: 2em;
}
.article-formatting h1,
h2 {
  text-align: left;
}
.article-formatting p {
  text-align: justify;
}
.article-formatting .container {
  max-width: 50%;
  margin-left: 500px;
  align-items: center;
  text-align: center;
}

/* --------------Footer ----------------*/
footer {
  text-align: center;
  line-height: 1;
  padding: 2em;
  width: auto;
  scroll-snap-align: center;

  margin-top: 4em;
  margin-bottom: 0;
}

footer ul{
  display: inline;
}
footer li {
  padding-right: 2em;
  display: inline;

}

footer .first-para {
  text-transform: initial;
}
footer p{
  font-size: 10px;
  text-transform: initial;
}



/*----------- Social Media links ----------------*/

.fab {

  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  font-size: 25px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.fab:hover {
    opacity: 0.7;
}
.fas:hover{
  opacity:0.7
}
.fa-twitter {

  color: darkseagreen;

}
.fa-linkedin-in {

  color: darkseagreen;
}
.fa-github{
  color: darkseagreen;
}
.fa-external-link{
  color: darkseagreen;
  font-size: 25px;
}

/*---------- Media queries-------------- */

@media(max-width:768px){

  body{
    background: seagreen;
    opacity: 0.8;
  }

  /* Main- header */

  #main-header{
    display: none;
  }
/* Contact Side line */

.contact{
  display:none;
}
  /* Showcase */

  #showcase{
    min-height: 60vh;
  }
  .showcase-content{
    margin-left: 0;
    margin-top: 3em;
    text-align: center;
    z-index: 3;
    color: white;
  }
  @keyframes paragraph{
    0%{top: -50px;}
    100%{top: 100px;}
  }

 .showcase-content h1{
  padding: 0;
  font-size: 3em;
  margin-left: 0;
  margin-top: 3em;

}

.showcase-content h3{
  font-size: 2em;
  padding: 10px;
}

/* About me  */

#about-me{
grid-template-columns: repeat(1,1fr);
text-align: center;
color: white;
}

#about-me h2{
  text-align: center;
  color:white;
  opacity: 0.8;
  font-size: 1em;
}

#about-me h2 span{
  color: darkseagreen;
}

#about-me img{
  width: 300px;
  height: 300px;
}

.skills-list{
  text-align: center;
  color: white;
}

.skills-list li{
  text-align: center;
  list-style: none;
  color:white;
  font-size: 1.5em;

}

/* Projects Tab */

.tab{
  margin-left: 0;
  text-align: left;
}

.tab #html-css{
  margin-left: 3em;
  color: white;
  opacity: 0.8;
}
.tab #js{
  margin-left: 4em;
  color: white;
  opacity: 0.8;
}


/* Work done  */

/* HTML Projects */

#work-done .projects{
  margin: 1em 1em;
  text-align: center;
}
#work-done h1{
  color: white;
  opacity: 0.9;
  font-size: 2em;
  text-align: center;
  margin-left: 0;
}
#work-done .projects img{
  width: 50%;
}
/*
#work-done .projects .singer-img img{
  float: center;

}
#work-done .projects .sample-landing-img img{
  float: center;


}
#work-done .projects .pig-img img{
  float: center;

} */
.pig-text{

  font-size: 1em;
  width: 300px;
  text-align: left;
  float: left;
  margin-left: 0em;
  margin-top: 0;
  color: white;
}
/* #work-done .projects .singer-img .links a{

  margin-left: 10em;
}
#work-done .projects .sample-landing-img .links a{
  margin-right: 90em;
  position: absolute;
}

#work-done .projects .pig-img .links a{
  margin-left: 62em;
} */


#blog{
  color: white;
  opacity: 0.9;
}
#blog h1{
  text-align: center;
  margin-left: 0;
  text-transform: initial;
  font-size: 2em;
}
#blog .container{
  width: 80%;
  margin-left: 2em;
  text-align: center;
}
#blog .blogs{
  grid-template-columns: repeat(1,1fr);
}
#blog .blogs img{
  margin-left: 0;
}

footer{
  opacity: 1;
  color: white;
}
footer li{
  padding-right: 1em;
}
}

/* ------------------------------------------------------------------------ */
@media(max-width:425px){
  #showcase{
    min-height: 60vh;
  }
  .showcase-content{
    margin-left: 0;
    margin-top: 3em;
    text-align: center;
    z-index: 3;
    color: white;
  }
  @keyframes paragraph{
    0%{top: -50px;}
    100%{top: 70px;}
  }

 .showcase-content h1{
  padding: 0;
  font-size: 2em;
  margin-left: 0;
  margin-top: 3em;

}

.showcase-content h3{
  font-size: 1.5em;
  padding: 10px;
}

#about-me img{
  width: 255px;
  height: 255px;
}

.tab #html-css{
  margin-left: 2em;
  color: white;
  opacity: 0.8;
}
.tab #js{
  margin-left: 2em;
  color: white;
  opacity: 0.8;
}

/* #work-done .projects .singer-img .links a{
  position: absolute;
  margin-left: 0;
}
#work-done .projects .sample-landing-img .links a{
  margin-left: 0;
  position: absolute;
}

#work-done .projects .pig-img .links a{
  margin-left: 0;
  position: absolute;
} */
}

/* ----------------------------------------------------- */
@media (max-width:320px){
  .showcase-content h3{
    font-size: 1em;
  }
}
/* -------------------------------- */



/* @media (max-width: 1300px) {


Main header


  #main-header ul {
    justify-content: left;
  }
  #main-header li {
    padding: 6px;
  }


  /* Showcase
  #showcase .showcase-content .container {
    width: 90%;
  }
  #showcase h1 {
    margin-top: 30vh;
    margin-left: 20vh;
    text-align: left;
    font-size: 3.2em;
  }
  #showcase h3 {
    margin-top: -4vh;
    padding-left: 12vh;
  }


  /* About me

  #about-me {
    display: grid;
    grid-template-columns: 1fr;
  }
  #about-me img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: seagreen 2px solid;
    object-position: 20% -9px;
    border-radius: 50%;
  }

  #about-me h3 {
    display: none;
  }
  #about-me h2 {
    font-size: 0.9em;
    text-align: center;
  }

  .dummy-text {
    display: none;
  }


  /* WOrk done Projects
  #work-done .projects {
    grid-template-columns: 1fr;
    margin-left: 20em;
  }
  #work-done h2 {
    margin-left: 15em;
  }
  #work-done .projects a {
    padding: 4rem 4rem;
  }


/* BLOG ------------


  #blog .container {
    width: 70%;
    margin-left: 100px;
  }
  #blog .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .article-formatting .container {
    max-width: 70%;
    margin-left: 100px;
  }

}
/* ----------------------------------------------

@media (max-width: 1289px) {
  #my-services .services {
    margin-left: 9em;
  }
  #work-done .projects {
    margin-left: 9em;
  }

  #work-done h2 {
    margin-left: 5em;
  }
}

/* --------------------------------------
@media (max-width: 769px) {
  #my-services .services {
    margin-left: 3em;
  }
  #work-done .projects {
    margin-left: 3em;
  }

}
/* -----------------------------------------

/* @media (max-width: 640px) {
  #main-header {
    display: none;
  }
  .menu-sign {
    display: block;
  }
} */
/* -------------------

@media (min-width: 640px) {
  .menu-sign {
    display: none;
  }
}
